extends layout

block content
    nav.navbar.navbar-fixed-top.navbar-inverse
        div.container
            a(href="/").navbar-brand Question bank
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/') home
                li
                    a(href='/addQuestion') publish
                li
                    a(href='/help') how to
                li
                    a(href='#') [ #{user} ]

    div.container.content

        if answerAdded == true
            p.alert.alert-success answer successfully added

        div
            h3(style='color:#666;') #{question[0]['q_str']}
            a(href=`writeAnswer?q_id=${encodeURI(question[0]['q_id'])}&q_str=${encodeURI(question[0]['q_str'])}`) write an answer
        hr
        if answers && answers.length > 0
            
            div 
                h4 Answers
                br
                div
                    for ans in answers
                        div.answer
                            p(style='font-size:105%;color:#666;') #{ans['ans_str']}
                            p.text-right by 
                                a(href=`/userPreview?id=${encodeURI(ans['u_id'])}`) #{ans['fname']} #{ans['lname']}
                        br
        else
            h5 waw such an empty !!
