extends layout

block content
    nav.navbar.navbar-fixed-top.navbar-inverse
        div.container
            a(href="/").navbar-brand Question bank
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/') home
                li
                    a(href='/addQuestion') publish
                li
                    a(href='/help') how to
                li
                    a(href='#') [ #{user} ]

    div.container.content
        
        if answerAdded == true
            p.alert.alert-success answer successfully added
        div.row.container
            div
            
                h3(style='color:#666;') #{question[0]['q_str']}
                if vote.length > 0 && vote[0]['case'] == 1
                    span &#8679;
                else 
                    a(href=`/upvote?q_id=${question[0]['q_id']}&value=0`) &#8679; 

                if vote.length > 0
                    span #{vote[0]['count']} &emsp;
                else
                    span 0 &emsp;
                a(href='') &#8681; 
                if vote.length > 1
                    span #{vote[1]['count']} &emsp;
                else
                    span 0 &emsp;
                a(href=``) comments
                a &emsp;
                a(href=`writeAnswer?q_id=${encodeURI(question[0]['q_id'])}&q_str=${encodeURI(question[0]['q_str'])}`) write an answer
                
                
        hr
        if answers && answers.length > 0
            
            div 
                h4 Answers
                br
                div
                    for ans in answers
                        div.answer(style='padding:0 20px 0 20px;')
                            br
                            p(style='font-size:105%;color:#666;') #{ans['ans_str']}
                            br
                            p 
                                div.text-right
                                    a comment
                                    span &emsp;|&emsp;
                                    span by 
                                    a(href=`/userPreview?id=${encodeURI(ans['u_id'])}`) #{ans['fname']} #{ans['lname']}
                                    
                        br
        else
            h5 waw such an empty !!
