extends layout

block content
    nav.navbar.navbar-fixed-top.navbar-inverse
        div.container
            a(href="/").navbar-brand Question bank
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/') home
                li
                    a(href='/publish') publish
                li
                    a(href='/help') how to
                li
                    a(href='/edit') [ #{user} ]

    div.well
        div.container.content  
            div                        
                div(style="padding-bottom:0px")
                    form(method='get',action='/search')#search-form
                        div.form-group
                            div.input-group
                                input.form-control(type='text',name='search',value=searchStr) 
                                div.input-group-btn
                                    button.btn.btn-default(type="submit")#search-btn
                                        span search question bank

    div.container-fluid
        div.row            
            div#questions.col-md-5
                h4 questions
                hr
                if questions && questions.length > 0
                    each q in questions
                        a(href=`/getDetails?q_id=${q['q_id']}`)
                            div #{q['q_str']}
                else
                    div
                        p no questions found on 
                            b "#{searchStr}"
                br
            div#concepts.col-md-3
                h4 concepts
                hr
                if concepts && concepts.length > 0
                    each c in concepts
                        div.row
                            div.col-md-6 #{c['c_str']}
                            div.text-right.col-md-6
                                if c['case'] == 0
                                    a(href=`/followTopic?t=${encodeURI(c['c_id'])}`).btn.btn-primary f
                                else
                                    a(href=`/unfollowTopic?t=${encodeURI(c['c_id'])}`).btn.btn-danger u
                            hr
                else   
                    div
                        p no concepts found on 
                            b "#{searchStr}"
                br
            div#profiles.col-md-3
                h4 profiles
                hr
                
                if profiles && profiles.length > 0
                    each p in profiles
                        a(href=`/userPreview?id=${encodeURI(p['u_id'])}`)
                            span.profile-name #{p['fname']} #{p['lname']}   
                        br
                else   
                    div
                        p no profiles found on 
                            b "#{searchStr}"
                br